.box-normal {
    height: 25vh;
    width: 25vh;

    background-color: gray;
}
.box-green {
    height: 25vh;
    width: 25vh;

    background-color: green;
}
.box-orange {
    height: 25vh;
    width: 25vh;

    background-color: orange;
}
